body {
  padding: 1rem 2rem;
  background: linear-gradient(
      90deg,
      #000000ee 40%,
      #000000cc 60%,
      #00000077 80%,
      #00000000 100%
    ),
    url(../../../public/LoginBG.png) center no-repeat #000;
  /* background: linear-gradient(90deg, #000000E5 40%, #000000CC 60%, #0000007F 80%, #00000000 100%); */
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0.5rem;
}
