main {
  box-sizing: border-box;
  padding-inline: 2rem;
  width: clamp(200px, 100%, 1200px);
}

h1 {
  font-size: clamp(24px, 4.5vw, 40px);
}

#hero_section {
  margin-block: 2rem;
}

#lesson_img {
  box-sizing: border-box;
  background: #000 no-repeat linear-gradient(0deg, #0009 0%, #0009 100%),
    url(../../../public/Lesson.jpg) center;
  background-size: cover;
  margin-inline: auto;
  padding: 1rem;
}

.lesson_tags .lesson_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 5px;
  border: 1px solid #ffc067;
  font-size: 14px;
}