#footer {
  background-image: linear-gradient(
    180deg,
    rgba(3, 2, 36, 0.8) 8.19%,
    rgba(22, 21, 61, 0.8) 100%
  );
  margin-top: 2rem;
}

#footer > div {
  box-sizing: border-box;
  width: clamp(200px, 100%, 1200px);
  padding: 2rem;
  margin-inline: auto;
}

#footer_links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  & > div {
    flex-grow: 1;
    max-width: 20rem;
  }
  & > div > span {
    font-family: "mediaval";
    letter-spacing: 2px;
  }
  & > div > hr {
    width: 3rem;
    margin: 0.3rem 0;
    border-color: #ffc06777;
  }
  & > div > a {
    font-family: "merriweather";
    font-size: 14px;
    color: #ffc06777;
    transition: 0.5s;
  }
  & > div > a:hover {
    color: #ffc067;
  }
}

#footer > p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #111;
  & span {
    color: #b451ff;
  }
}
