.separator_line {
  width: 100%;
  & > .separator_line_gradient {
    height: 2px;
    width: 100%;
  }
  & > .separator_line_gradient.right {
    background-image: linear-gradient(90deg, var(--text) 0%, #ffc06700 100%);
  }
  & > .separator_line_gradient.left {
    background-image: linear-gradient(-90deg, var(--text) 0%, #ffc06700 100%);
  }
  & > .separator_line_word {
    white-space: nowrap;
    font-family: "mediaval";
    color: var(--text);
    margin: 0 0.5rem;
  }
}
