.text_input > label {
  font-size: 1.3em;
}

.text_input > input {
  background-color: #0007;
  border: 1px solid #ffc067;
  color: #ffc067;
  outline: none;
  padding: 0.5rem;
  box-shadow: 0 0 0 0 #b451ff;
  transition: all 2s;
  height: 2.2rem;
  box-sizing: border-box;
  &::placeholder {
    color: #ffc06777;
    transition: 1s;
  }
  &:focus {
    box-shadow: 0 0 8px 2px #b451ff;
    border: 1px solid #b451ff;
    /* color: #b451ff; */
  }
  /* &:focus::placeholder {
    color: #b451ff77;
  } */
}

.text_input > input:-webkit-autofill,
.text_input > input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.text_input > button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  height: 2.2rem;
  background-color: transparent;
  outline: none;
}
