@font-face {
  font-family: mediaval;
  src: url(./fonts/MedievalSharp-Regular.ttf);
}

@font-face {
  font-family: merriweather;
  src: url(./fonts/MerriweatherSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
}

h1,
h2,
label {
  font-family: "mediaval";
}

.mediaval {
  font-family: "mediaval";
}

.merri {
  font-family: "merriweather";
}

.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.font_16 {
  font-size: 16px;
}

.font_18 {
  font-size: 18px;
}

.text_center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.gap_8 {
  gap: 8px;
}

.gap_16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.purple_link {
  -webkit-text-fill-color: #b451ff;
  color: #b451ff;
  text-shadow: 0 0 0 #b451ff33;
  transition: text-shadow 1s;
  margin-left: 0.5rem;
  &:hover {
    text-shadow: 0 0 4px #b451ff;
  }
}

.main_btn {
  background: radial-gradient(50% 50% at 50% 50%, #b451ff 0%, #55237b 100%);
  color: #ffc067;
  border: none;
  width: 100%;
  height: 2.5rem;
  letter-spacing: 4px;
  transition: 1s;
  font-weight: bold;
  &:hover {
    letter-spacing: 6px;
  }
}

.main_logo {
  display: flex;
  align-items: center;
  font-family: "mediaval";
  font-size: 2.5em;
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  & > .camel {
    background: linear-gradient(180deg, #b451ff 0%, #55237b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text_gradient {
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.separator_line {
  width: 100%;
  & > .line_gradient {
    height: 2px;
    width: 100%;
  }
  & > .line_gradient.right {
    background-image: linear-gradient(90deg, #ffc067 0%, #ffc06700 100%);
  }
  & > .line_gradient.left {
    background-image: linear-gradient(0deg, #ffc067 0%, #ffc06700 100%);
  }
}
