@font-face {
  font-family: mediaval;
  src: url(./fonts/MedievalSharp-Regular.ttf);
}

@font-face {
  font-family: merriweather;
  src: url(./fonts/MerriweatherSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #ffc067;
}

p:not(article p) {
  line-height: 1.5em;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
label {
  font-family: "mediaval";
  letter-spacing: 2px;
}

p,
span {
  font-family: "merriweather";
}

.mediaval {
  font-family: "mediaval";
}

.merri {
  font-family: "merriweather";
}

.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.font_16 {
  font-size: 16px;
}

.font_16_14 {
  font-size: clamp(14px, 2vw, 16px);
}

.font_18 {
  font-size: 18px;
}

.text_center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.align_end {
  align-items: flex-end;
}

.gap_8 {
  gap: 8px;
}

.gap_16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-fill {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.purple_link {
  -webkit-text-fill-color: #b451ff;
  color: #b451ff;
  text-shadow: 0 0 0 #b451ff33;
  transition: text-shadow 1s;
  margin-left: 0.5rem;
  &:hover {
    text-shadow: 0 0 4px #b451ff;
  }
}

.main_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "mediaval";
  background: radial-gradient(50% 50% at 50% 50%, #b451ff 0%, #55237b 100%);
  color: #ffc067;
  border: none;
  height: 2.5rem;
  letter-spacing: 4px;
  transition: 1s;
  font-weight: bold;
  padding-inline: 1rem;
  &.hover:hover {
    letter-spacing: 6px;
  }
  & > img {
    margin-right: 0.5rem;
  }
}

.secondary_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "merriweather";
  text-decoration: none;
  background-color: #0007;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0 0 2px #fff;
  height: 2.5rem;
  transition: 1s;
  padding-inline: 1rem;
  &.hover:hover {
    box-shadow: inset 0 0 8px #fff;
  }
  & > img {
    margin-right: 0.5rem;
  }
}

.main_logo {
  display: flex;
  align-items: center;
  font-family: "mediaval";
  font-size: 2.5em;
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  white-space: nowrap;
  & > .camel {
    background: linear-gradient(180deg, #b451ff 0%, #55237b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text_gradient {
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg.pink_shadow {
  transition: 0.5s;
}

svg.pink_shadow:hover {
  filter: drop-shadow(0 0 5px #b451ff);
}

.eyebrow_text {
  opacity: 0.8;
}
