@font-face {
  font-family: mediaval;
  src: url(./fonts/MedievalSharp-Regular.ttf);
}

@font-face {
  font-family: merriweather;
  src: url(./fonts/MerriweatherSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
}

h1,
h2,
label {
  font-family: "mediaval";
}

.mediaval {
  font-family: "mediaval";
}

.merri {
  font-family: "merriweather";
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.gap_8 {
  gap: 8px;
}

.gap_16 {
  gap: 16px;
}

.main_logo {
  display: flex;
  align-items: center;
  font-family: "mediaval";
  font-size: 2.5em;
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  & > .camel {
    background: linear-gradient(180deg, #b451ff 0%, #55237b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text_gradient {
  background: linear-gradient(180deg, #ffc067 0%, #99733e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
