h1 {
  font-size: clamp(24px, 4.5vw, 40px);
}

article p {
  font-size: clamp(14px, 2vw, 16px);
  &:not(aside p) {
    margin-block: 2em;
  }
}

#hero_section {
  margin-block: 2rem;
  text-align: center;
}

#lesson_img {
  box-sizing: border-box;
  background: #000 no-repeat linear-gradient(0deg, #0009 0%, #0009 100%),
    url(/Lesson.jpg) center;
  background-size: cover;
  margin-inline: auto;
  padding: 1rem;
  width: 100%;
}

.lesson_tags .lesson_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 5px;
  border: 1px solid var(--text);
  font-size: 14px;
}

#test_progress {
  block-size: clamp(0.7rem, 2vw, 0.9rem);
  inline-size: clamp(15rem, 27vw, 20rem);
  border: 2px solid var(--text);
  border-radius: 1rem;
  overflow: hidden;
  accent-color: var(--dark_main);
  &::-webkit-progress-bar {
    background-color: #111;
  }
  &::-webkit-progress-value {
    background-image: linear-gradient(-90deg, var(--main) 0%, var(--dark_main) 100%);
  }
  &::-moz-progress-bar {
    background-image: linear-gradient(-90deg, var(--main) 0%, var(--dark_main) 100%);
  }
}

#test_section {
  margin-bottom: 2rem;
  & > form {
    padding-inline: 2rem;
    border-left: 1px solid var(--text);
  }
}

#test_buttons {
  gap: 10rem;
  padding: 2rem 2rem 0;
  & > button {
    margin-left: auto;
    padding: 1rem 4rem;
  }
  & > button:disabled {
    opacity: 0.5;
  }
  & > button:hover:not(:disabled) {
    transform: scale(1.05);
  }
}

#question {
  & span {
    opacity: 0.8;
    margin-right: 1rem;
  }
}

#answers {
  & > label:has(input[type="radio"]:checked) {
    box-shadow: 0 0 8px 0px var(--main) inset;
  }
  & > label.true_answer{
    box-shadow: 0 0 8px 0px #37ff02 inset;
  }
  & > label.false_answer {
    box-shadow: 0 0 8px 0px #a62400 inset;
  }
  & > label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0px 0px var(--main) inset;
    transition: 0.5s;
  }
  & > label:hover {
    box-shadow: 0 0 8px 0px #aaa inset;
  }
  & > label > input[type="radio"] {
    accent-color: var(--main);
  }
}
