#quest_creation {
  box-sizing: border-box;
  padding: 2rem;
  background: #0009;
}

#mdeditor {
  margin-top: 2rem;
  & > label {
    font-size: 1.3em;
  }
}

#quest_buttons {
  display: flex;
  gap: 2rem;
  padding: 2rem 0 0;
  & > button:first-child {
    margin-left: auto;
  }
  & > button {
    padding: 1rem 4rem;
  }
  & > button:disabled {
    opacity: 0.5;
  }
  & > button:last-child:hover:not(:disabled) {
    transform: scale(1.05);
  }
}
