body {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  min-height: 100vh;
}

h1 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0.5rem;
}

#login_page {
  max-width: 600px;
  height: 100%;
  padding-inline: clamp(1rem, 3vw, 3rem);
  padding-block: clamp(1rem, 3vw, 2rem);
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-block: 3rem;
  & > span {
    font-size: 24px;
  }
}

form {
  gap: 2rem;
  & > p {
    margin-block: 0;
  }
}