main {
  padding-inline: 2rem;
}

h1 {
  font-size: 40px;
}

#tabs {
  margin-block: 2rem 3rem;
  & > a {
    color: #ffc06777;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
  }
  & > a.active {
    color: var(--text);
    border-bottom: 1px solid var(--text);
  }
  & > a:not(.active):hover {
    color: var(--main);
    /* border-bottom: 1px solid var(--main); */
    filter: drop-shadow(0 0 5px var(--main));
  }
}